*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid red;
    width: 85%;
    margin: auto;
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}
.box{
    border: 2px solid green;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#box-1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

#box-2{
    grid-row: 1 / span 2;
}

#box-6{
    grid-column:2;
    grid-row: 3 / span 2;
}

#box-7{
    grid-column: 3 / span 2;
    grid-row:3 / span 2;
}